# Python bytecode caches
__pycache__/
*.pyc

# Local Database (Do not share your local logs/profiles)
*.sqlite3

# Virtual Environments
venv/
.venv/
env/

# DeepFace weight caches & local uploads
.deepface/
*.jpg
*.jpeg
*.png